@model DAO.modeles.Voiture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Immatriculation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Immatriculation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nb_Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nb_Place)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
